/* Fixed navbar padding */
body {
  padding-top: 50px;
}

main {
  width: 100%;
  height:auto;
}

section {
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  font-family: 'Fjalla One';
}

.portfolio-item {
  margin-bottom: 15px;
}

#section-presentation {
  background-color: #039be5;
}

#section-contact {
  background-color: #b3e5fc;
}

#section-portfolio {
  background-color: #81d4fa;
  text-align: center;
}

#section-portfolio h1, #section-portfolio h3, #section-contact h1{
  text-align: center;
  width: 100%;
  margin:0;
  padding: 10px 0 10px 0;
}

#portrait {
  padding: 20px;
  border-radius:9%;
}

#portrait-text {
  color:white;
  font-family: 'Open Sans';
  font-size: 24px;
  padding: 55px 15px 0 0px;
}

#top-navbar .container-fluid {
  max-width: 1024px;
  font-family: 'Fjalla One';
}

#nav-name {

}
