@keyframes rotateit{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes bgcolor {
  from{
    background-color: white;
  }
  10% {
    background-color: red;
  }
  20% {
    background-color: blue;
  }
  30% {
    background-color: orange;
  }
  40% {
    background-color: darkgreen;
  }
  50% {
    background-color: peachpuff;
  }
  60% {
    background-color: darkgray;
  }
  70% {
    background-color: royalblue;
  }
  80% {
    background-color: crimson;
  }
  90% {
    background-color: yellow;
  }
  to {
    background-color: black;
  }
}

@keyframes burpfont {
    from {
      color:red;
    }
    50% {
      color:blue;
    }
    100% {
      color:green;
    }
}

@keyframes borderimg {
  from {
    border: 0px;
    transform: rotate(360deg);
  }
  50% {
    border: 10px solid green;
  }
  70% {
    border: 90px solid blue;
  }
  to {
    border: 3px solid red;
    transform: rotate(0deg);
  }
}

.border-img {
  animation: 1s borderimg infinite alternate;
}

.burp-font {
  animation: 1s burpfont infinite alternate;
}

.bg-color {
  animation: 2s bgcolor infinite linear;
}

.rotate {
  animation: 2s rotateit infinite linear;
}
/* Fixed navbar padding */
body {
  padding-top: 50px;
}

main {
  width: 100%;
  height:auto;
}

section {
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  font-family: 'Fjalla One';
}

footer {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #fb8c00;
  font-family: 'Open Sans';
  font-weight: bold;
}

form {
  margin-bottom: 20px;
}

.portfolio-item {
  margin-bottom: 15px;
}

.separator {
  width: 80%;
  display: block;
  border-bottom: 4px solid black;
  margin: 0 auto;
  padding: 10px 0 10px 0;
}


#section-presentation {
  background-color: #ef6c00;
}

#section-contact {
  background-color: #ffa726;
}

#section-portfolio {
  background-color: #fb8c00;
  text-align: center;
}

#section-portfolio h1, #section-contact h1{
  text-align: center;
  width: 100%;
  margin:0;
  padding: 20px 0 20px 0;
}

#section-portfolio h3 {
  text-align: center;
  width: 100%;
  margin:0;
  padding: 5px 0 20px 0;
}

#portrait {
  padding: 20px;
  border-radius:9%;
}

#portrait-text {
  color:white;
  font-family: 'Open Sans';
  font-size: 24px;
  padding: 55px 15px 0 0px;
}

#top-navbar .container-fluid {
  max-width: 1024px;
  font-family: 'Fjalla One';

}

#top-navbar {
  background-color: #e65100;
}

#top-navbar a {
  color: white;
}

#top-navbar a:hover {
  color:darkgray !important;
}

#top-navbar .active a{
  background-color:  #ef6c00;
}

.dropdown-menu li a{
  color:black !important;
}

ul .open a , ul .open ul{
  background-color:  #ef6c00 !important;
  color:white !important;
}

#nav-name {

}

.contact-text {
  margin-top:20px;
  font-family: 'Open Sans';
  font-size: 20px;
}
